PORT=17001
TLS_PORT=17003
DB_PORT=17011
REDIS_PORT=17013
HOST=localhost


DB_DEV_USERNAME=musedale_admin
DB_DEV_PASSWORD=musedale_admin
DB_DEV_DATABASE=musedale
DB_DEV_HOST=db
DB_DEV_DIALECT=mysql

DB_TEST_USERNAME=musedale_admin_test
DB_TEST_PASSWORD=musedale_admin_test
DB_TEST_DATABASE=musedale_admin_test
DB_TEST_HOST=127.0.0.1
DB_TEST_DIALECT=mysql

DB_PROD_USERNAME=musedale_admin_prod
DB_PROD_PASSWORD=musedale_admin_prod
DB_PROD_DATABASE=musedale_admin_prod
DB_PROD_HOST=127.0.0.1
DB_PROD_DIALECT=mysql
