html
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title Someone sent a message
  body
    h3 Someone sent you a message
    hr
    h1 #{title}
    p #{body}
